<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="JavierConnectionString" connectionString="DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.2.102)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));PASSWORD=xxxxxxx;PERSIST SECURITY INFO=True;USER ID=USUARIO_AD;Enlist=false;Pooling=false;" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <system.web>
    <pages enableEventValidation="false" validateRequest="false" theme="SkinFile" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="act" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
      </controls>
    </pages>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="Oracle.DataAccess, Version=2.112.3.0, Culture=neutral, PublicKeyToken=89B483F429C47342" />
        <add assembly="Oracle.Web, Version=2.112.3.0, Culture=neutral, PublicKeyToken=89B483F429C47342" />
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <identity impersonate="true" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument enabled="true">
      <files>
        <remove value="default.aspx" />
        <remove value="Default.html" />
        <remove value="Default.asp" />
        <remove value="index.htm" />
        <remove value="index.html" />
        <remove value="iisstart.htm" />
                <add value="admision.aspx" />
        <add value="Default.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>